.Login {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 90 90'%3E%3Ccircle fill='%23000000' cx='45' cy='45' r='5'/%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='11'/%3E%3Ccircle cx='90' cy='90' r='11'/%3E%3Ccircle cx='90' cy='0' r='11'/%3E%3Ccircle cx='0' cy='0' r='11'/%3E%3C/g%3E%3C/svg%3E");
}
.Loginbox {
  height: 520px;
  padding: 150px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.716);
  border: 4px solid;
}
.LoginForm {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Logintitle {
  margin-top: 200px;
  font-size: 40px;
}

.LoginInputs {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}
.Logininput {
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
  border: 4px solid;
}

.InputLabel {
  position: absolute;
  top: -8px;
  left: 15px;
  padding: 0 5px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  z-index: 1;
}

.signupInLoginTxt {
  color: blue;
  text-decoration: underline;
}
.Logotitle {
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.loginLogo {
  margin-bottom: 200px;
  width: 220px;
  height: 220px;
  /* border: 4px solid; */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
.LoginButton-txt {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.LoginButton {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  /* background-color: #fff; */
  border: 4px solid;
}
.LoginButton:hover {
  background-color: #cbcbcb;
}
.LoginButton:active {
  background-color: #e3e3e3;
}
.ErrorMessageLogin {
  background-color: #ffff70;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #000005;
  border-radius: 5px;
  color: red;
  font-size: 12px;
}

/* define the animations */
@keyframes rotateBorder {
  from {
    border-color: transparent; /* start with a transparent border color */
  }
  to {
    border-color: white; /* end with a white border color */
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 690px) {
  .Loginbox {
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    padding-bottom: 20vh;
  }
  .Logotitle {
    height: 408px;
  }
  .loginLogo{
    margin-bottom: 130px;
    width: 170px;
    height: 170px;
  }
  .LoginForm{
    height: 210px;
  }
  .Logininput {
    width: 300px;
  }
 
}
@media only screen and (max-width: 340px) {
  .Logininput {
    width: 200px;
  }
}
