.DashboardPage {
  width: 100vw;
  height: 100vh;
}
.DashboardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 4px solid;
}
.DashboardHeader a {
  width: 50%;
  text-align: center;
  height: 100%;
  padding: 15px;
  border-right: 4px solid;
}
.UserList {
  border: 4px solid;
  width: 90%;
  height: 87%;
  overflow-y: scroll;
  margin: auto;
  margin-top: 10px;
}
.UserList::-webkit-scrollbar {
  display: none;
}
.UserItem {
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid;
}
.UserItem hr {
  height: 50px;
}
.UserItem p {
  margin-left: 30px;
}
.UserItem p {
  margin-left: 30px;
}
.UserItemEmailDelete {
  display: flex;
  justify-content: space-between;
  width: 800px;
  align-items: center;
}
.UserItemImageName {
  display: flex;
  min-width: 290px;
  justify-content: space-around;
  align-items: center;
}
.UserItemimage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.categoryAddInput {
  border: 4px solid;
  padding: 10px;
  width: 210px;
}
.RecipesDashElement:hover{
  cursor: pointer;
}
.RecipesDashElement div {
  display: flex;
  align-items: center;
  padding: 5px 25px;
  justify-content: space-between;
}
.RecipesDashElementImg {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
@media only screen and (max-width: 950px) {
  .DashboardPage {
    width: 100vw;
    height: 89vh;
  }
}
