.Signup {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 90 90'%3E%3Ccircle fill='%23000000' cx='45' cy='45' r='5'/%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='11'/%3E%3Ccircle cx='90' cy='90' r='11'/%3E%3Ccircle cx='90' cy='0' r='11'/%3E%3Ccircle cx='0' cy='0' r='11'/%3E%3C/g%3E%3C/svg%3E");
}
.Signupbox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.SignupFormBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.716);
  height: 620px;
  padding: 50px 100px 10px 100px;
  border: 4px solid;
}
.SignupForm {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Signuptitle {
  font-size: 40px;
}

.SignupInputs {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.Signupinput {
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
  border: 1px solid;
  border: 4px solid;
  background-color: rgba(255, 255, 255, 0.9);
}

.signupInSignupTxt {
  color: blue;
  text-decoration: underline;
}
.signupLogoBox {
  width: 50%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.SignupLogo {
  width: 220px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.5);
}
.signuptitle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
.SignupButton-txt {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}
.SignupButton {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 4px solid;
}
.SignupButton:hover {
  background-color: #cbcbcb;
}
.SignupButton:active {
  background-color: #e3e3e3;
}
.ErrorMessageSignup {
  background-color: #ffff70a5;
  padding: 5px;
  margin-top: -562px;
  margin-left: 400px;
  width: 200px;
  border: 1px solid #000005;
  border-radius: 5px;
  color: red;
  font-size: 12px;
  position: absolute;
  margin-bottom: 100px;
  text-align: center;
}
.picinput {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
@media only screen and (max-width: 690px) {
  .SignupFormBox {
    width: 100vw;
    height: 100vh;
    padding-bottom: 15vh;
  }
  .Signupinput {
    width: 300px;
  }
  .ErrorMessageSignup {
    margin-top: 152px;
    margin-left: 0px;
  }
  .SignupLogo {
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .signuptitle {
    height: 300px;
  }
}

@media only screen and (max-width: 340px) {
  .Signupinput {
    width: 200px;
  }
}
